@import '../../vendors/normalize.css/normalize.css';
.medium {
  font-weight: 500;
}
.bold {
  font-weight: bold;
}
.round {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.border {
  border: 1px solid #d8d8d8;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.hidden {
  display: none;
}
.show {
  display: inline;
}
.clear {
  clear: both;
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pointer {
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}
.underline-none,
.underline-none:hover {
  text-decoration: none;
}
.text-shadow-none {
  text-shadow: none;
}
.vertical-middle {
  vertical-align: middle;
}
.nowrap {
  white-space: nowrap;
}
.space-none,
ul.list-vertical-continuous,
ul.horizontal,
ul.horizontal-boxes {
  padding: 0;
  margin: 0;
}
.line {
  border: 1px solid #d8d8d8;
}
.opa-less {
  opacity: 0.5;
}
.opa-less-x {
  opacity: 0.3;
}
.opa-more {
  opacity: 0.8;
}
.opa-full {
  opacity: 1;
}
.color-gray {
  color: #ececec;
}
.color-gray-light {
  color: #d8d8d8;
}
.color-gray-lighter {
  color: #f9f9f9;
}
.color-gray-dark {
  color: #969696;
}
.color-gray-darker {
  color: #4a4a4a;
}
.color-branch {
  color: #ff9500;
}
.color-branch-light {
  color: #ffc470;
}
.color-branch-lighter {
  color: #ffd9a4;
}
.color-branch-dark {
  color: #d97f00;
}
.color-branch-darker {
  color: #a76200;
}
.color-text {
  color: #6b3900;
}
.color-white {
  color: white;
}
.color-warning {
  color: #ff7b0c;
}
.color-blur {
  color: #cccccc;
}
.color-link {
  color: #277790;
}
.bg-color-gray {
  background-color: #ececec;
}
.bg-color-branch-dark {
  background-color: #d97f00;
}
/**ALIGNMENT**/
/*Text alignment*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-top {
  vertical-align: text-top;
}
.text-bottom {
  vertical-align: text-bottom;
}
.text-shadow {
  text-shadow: 0px 1px 1px #ffffff;
}
/*Box alignment*/
.pad {
  padding: 10px;
}
.pad-left {
  padding-left: 10px;
}
.pad-left-right {
  padding-left: 10px;
  padding-right: 10px;
}
.pad-top {
  padding-top: 10px;
}
.pad-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pad-more {
  padding: 20px;
}
.pad-more-left {
  padding-left: 20px;
}
.pad-more-left-right {
  padding-left: 20px;
  padding-right: 20px;
}
.pad-more-top {
  padding-top: 20px;
}
.pad-more-top-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pad-less {
  padding: 5px;
}
.pad-less-left {
  padding-left: 5px;
}
.pad-less-left-right {
  padding-left: 5px;
  padding-right: 5px;
}
.pad-less-top {
  padding-top: 5px;
}
.pad-less-top-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
.margin {
  margin: 10px;
}
.margin-top {
  margin-top: 10px;
}
.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.margin-more {
  margin: 20px;
}
.margin-more-top {
  margin-top: 20px;
}
.margin-more-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-more-bottom {
  margin-bottom: 20px;
}
.margin-less-top {
  margin-top: 5px;
}
.margin-less-top-bottom {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-less-bottom {
  margin-bottom: 5px;
}
/*SIZE*/
/*Text Size*/
.size-small {
  font-size: 0.8em;
  line-height: 1.2em;
}
.size-small-x {
  font-size: 0.5em;
  line-height: 1em;
}
.size-medium {
  font-size: 1.2em;
  line-height: 1em;
}
.size-large {
  font-size: 1.6em;
  line-height: 1.6em;
}
.size-large-x {
  font-size: 2em;
  line-height: 1.6em;
}
.size-large-xx {
  font-size: 3em;
  line-height: 1.6em;
}
/**IMAGE**/
.avatar {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}
/**ELEMENTS**/
*:focus {
  outline: none;
}
body {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6b3900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
img {
  border: 0;
}
a {
  color: #277790;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a.color-white,
a.color-white:hover {
  color: white;
}
a.disabled {
  color: #6b3900;
}
a.disabled,
a.disabled:hover,
a.disabled:hover,
a.disabled:hover:hover {
  text-decoration: none;
}
a.underline-hover:hover {
  text-decoration: underline;
}
a.underline-hover-none:hover,
a.underline-hover-none:hover:hover {
  text-decoration: none;
}
select,
input,
textarea {
  outline: none;
  -webkit-appearance: none;
}
input[type="text"],
input[type="password"],
input[type="file"],
textarea {
  padding: 10px;
  border: 1px solid #a4a3a2;
  background: #f9f9f9;
  width: 168px;
  display: inline;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus {
  background: #d8d8d8;
  border: 1px solid #afacac;
}
input[type="text"].blur,
input[type="password"].blur,
input[type="file"].blur {
  color: #d8d8d8;
}
input[type="submit"],
input[type="button"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
textarea {
  resize: none;
}
textarea:focus {
  background: #d8d8d8;
  border: 1px solid #afacac;
}
textarea.blur {
  color: #d8d8d8 !important;
}
form.full-width input,
form.full-width textarea,
form.full-width select,
form.full-width button {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
form.full-width label {
  line-height: 1.5em;
}
form.full-width .align {
  padding-bottom: 10px;
}
ul {
  /*List styling*/
}
ul.type-none,
ul.list-vertical-continuous,
ul.horizontal,
ul.horizontal-boxes {
  list-style-type: none;
}
ul.list-vertical-continuous li {
  padding: 0;
  background: #f9f9f9;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
ul.list-vertical-continuous li:hover {
  background-color: #d8d8d8;
}
ul.list-vertical-continuous li:first-child {
  border-top: 1px solid #d8d8d8;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}
ul.list-vertical-continuous li:last-child {
  -moz-border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-bottom-left-radius: 6px;
  -moz-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
ul.list-vertical-continuous li a {
  color: #6b3900;
}
ul.list-vertical-continuous li a,
ul.list-vertical-continuous li a:hover {
  text-decoration: none;
}
.box-error input,
.box-error textarea {
  border: 2px solid #ff7b0c !important;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-image: url('../../images/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #4a4a4a;
  margin: 0;
}
.container {
  width: 660px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.col-1 {
  float: left;
  width: 320px;
  margin-top: 30px;
}
.col-1 .more-btn {
  display: none;
}
.col-2 {
  float: right;
  width: 320px;
  margin-top: 30px;
}
ul.horizontal li {
  margin-right: 20px;
  display: inline-block;
}
ul.horizontal li:last-child {
  margin-right: 0;
}
ul.horizontal-boxes > li {
  margin-right: 20px;
  margin-bottom: 14px;
  display: inline-block !important;
  vertical-align: middle;
}
ul.horizontal-boxes > li:last-child {
  margin-right: 0;
}
ul.horizontal-boxes > li:nth-child(2n) {
  margin-right: 0;
}
ul.horizontal-boxes > li:nth-child(3),
ul.horizontal-boxes > li:nth-child(7) {
  margin-left: 60px;
}
ul.horizontal-boxes > li > a {
  width: 100px;
  height: 100px;
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.3);
}
#profile-section {
  text-align: center;
}
#profile-section .avatar {
  border: 1px solid #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-top-left-radius: 50px;
  -moz-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-bottom-right-radius: 50px;
  border-bottom-radius: 50px;
}
#profile-section .desc {
  text-align: left;
  padding: 0 20px;
  font-size: 1.3em;
}
#detail-section i[class^='fa fa-'] {
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: 400;
}
#node-container {
  display: block;
}
#node-container .back-btn {
  display: none;
}
#detail-more-section {
  text-align: center;
}
#detail-more-section .box {
  padding: 20px;
  text-align: left;
  width: 240px;
  height: 302px;
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.3);
  overflow: scroll;
}
#social-section {
  text-align: left;
}
#social-section i[class^='sprite-social'] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.sprite-social {
  background-image: url('../../images/sprite-social.png');
  background-size: 150px 50px;
  width: 50px;
  height: 50px;
  display: block;
}
.sprite-social.icon-in {
  background-position: 0 0;
}
.sprite-social.icon-twt {
  background-position: -50px 0;
}
.sprite-social.icon-email {
  background-position: -100px 0;
}
@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .col-1 {
    width: 100%;
    text-align: center;
    float: none;
  }
  .col-1 .more-btn {
    display: inline-block;
  }
  .col-2 {
    width: 280px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  #node-container {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  #node-container .back-btn {
    display: block;
  }
  #social-section {
    text-align: center;
  }
}
